extends ../partials/layout.jade

block content
  div.content
    div.panel.panel-default
      div.panel-heading
        h3 Issues Index Page
      div.panel-body
        table.table.table-striped.table-bordered.table-condensed
          thead
            tr
              th #
              th title
              th user
              th labels
              th state
              th body
          tbody
            each issue in issues
              tr(class= (issue.state === 'open') ? 'success' : 'danger')
                td= issue.number
                td= issue.title
                td= issue.user.login
                td
                  each label in issue.labels
                    code= (label.name) ? label.name : 'n/a'
                    br
                td= issue.state
                td!= markdown.parse(issue.body)